@for $i from 1 through 100 {
    .pr-#{$i} {
        padding-right: $i + px;
    }
    .pl-#{$i} {
        padding-left: $i + px;
    }
    .pt-#{$i} {
        padding-top: $i + px;
    }
    .pb-#{$i} {
        padding-bottom: $i + px;
    }
    .p-#{$i} {
        padding: $i + px;
    }
    .mr-#{$i} {
        margin-right: $i + px;
    }
    .ml-#{$i} {
        margin-left: $i + px;
    }
    .mt-#{$i} {
        margin-top: $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
    .m-#{$i} {
        margin: $i + px;
    }
  }