// Rojos
$redOne: #e40b0b;
$redTwo: #c30e0e;
$redThree: #a21112;
$redFour: #821415;
$redFive: #611618;
// Blancos
$whiteOne: #fff;
$whiteTwo: #f8f9fa;
$whiteThree: #e9ecef;
$whiteFour: #dee2e6;
$whiteFive: #ced4da;
// Grises
$greyOne: #adb5bd;
$greyTwo: #6c757d;
$greyThree: #495057;
$greyFour: #343a40;
$greyFive: #212529;

// Azules
$blueOne:#5ea0f5;
$blueTwo:#5e95f5;
$blueThree:#5e8ef5;
$blueFour:#5e87f5;
$blueFive:#5e80f5;

// Navbar
$heigh-navbar: 80px;
$bg-color-navbar: #eeeeee;
$bg-color-navbar-nav-active: #e0e0e0;
$color-navbar: #59a5af;
$color-navbar-active: #4a858d;

// BreakPoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);