<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h6>Over 36,500+ Active Listings</h6>
          <h2>Find Nearby Places &amp; Things</h2>
        </div>
      </div>
      <!-- <div class="col-lg-12 cont_search_home" id="cont_search_home"> -->
      <div class="col-lg-12 cont_search_home" id="cont_search_home">
      </div>
      <div class="col-lg-10 offset-lg-1">
        <ul class="categories marks owl-carousel owl-marks" id="marks-carousel">
        </ul>
      </div>
    </div>
  </div>
</div>