<div class="contact-page fueltype">
    <h2>FuelType</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <div class="row py-10" id="row-fueltypes-home">
                        <!-- <div class="col-md-4 mt-10 align-self-center ccc">
                            <a href="" class="">
                                <div class="cont">
                                    <div class="img">
                                        <img src="view/icons/fuels/img/gasolina.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <p>Gasolina</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-10 align-self-center ccc">
                            <a href="" class="">
                                <div class="cont">
                                    <div class="img">
                                        <img src="view/icons/fuels/img/hibrido.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <p>Hibrido</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-10 align-self-center ccc">
                            <a href="" class="">
                                <div class="cont">
                                    <div class="img">
                                        <img src="view/icons/fuels/img/electrico.jpg" alt="">
                                    </div>
                                    <div class="title">
                                        <p>Electrico</p>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>