
<main class="l-main">
    <!--========== CAROUSEL ==========-->
        <div class="carousel">
            <div class="carousel__container">
                <button class="carousel__prev">
                    <i class='bx bx-chevron-left'></i>
                </button>
                <div class="carousel__list"></div>
                <button class="carousel__next">
                    <i class='bx bx-chevron-right'></i>
                </button>
            </div>
            <div class="carousel__indicator"></div>
        </div>
    <!--========== CATEGORIA ==========-->
    <section class="categoria section bd-container" id="categoria">
        <div class="cat"></div>
    </section>
    <!--========== BRANDS ==========-->
    <section class="brands section bd-container" id="brands">
        <h3 class='brand__title'>Marcas que son tendencia</h3>
        <div class="results"></div>
        <div class="brand__button">
            <button class="load_more button" id="load_more_button">load More</button>
        </div>
    </section>
</main>