<div class="news-sec">
    <h2>News</h2>
    <div class="container" id="container-news">
        <div class="grid-container g01">
            <div class="item grid-cell-1">
                <div class="img">
                    <img src="https://phantom-marca.unidadeditorial.es/fb40dffceca300504f3ad629b918fab7/resize/1200/f/jpg/assets/multimedia/imagenes/2021/12/17/16397404574547.jpg"
                        alt="" srcset="">
                </div>
                <div class="cont">
                    <div class="title">
                        Titulo
                    </div>
                    <div class="desc">
                        Desc
                    </div>
                    <div class="author">
                        Autor
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>