/* The Modal (background) */
.modalK {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 120; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    color: white;
    &.success {
        .modal-header,
        .modal-footer {
            background-color: #5cb85c;
        }
    }
    &.error {
        .modal-header,
        .modal-footer {
            background-color: $redTwo;
        }
    }
    &.car-modal {
        .modal-content {
            background-color: #353f5a;
        }
        .modal-header,
        .modal-footer {
            background-color: initial;
        }
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: inherit;
        margin: auto;
        padding: 10px;
        // border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        .rowk {
            padding: 10px;
            display: flex;
            max-height: 250px;
            overflow: hidden;
            overflow-y: scroll;

            .img {
                width: 200px;
                img {
                    width: 100%;
                }
            }
        }
        .cont {
            padding: 10px;
        }
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */
    .close {
        color: white;
        // float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .modal-body {
        padding: 8px 20px;
        p {
            color: $greyOne;
        }
        .btn {
            margin: 10px 20px;
        }
    }

    .modal-footer {
        padding: 10px 16px;
        color: white;
        min-height: 10px;
        margin-top: 10px;
        .ov {
            max-height: 150px;
            overflow: auto;
            padding: 15px;
        }
    }
    &.active {
        display: block;
    }
}
/* SCROLLBAR CSS3 */
*::-webkit-scrollbar {
    width: 10px;
    /*           background: #dbe8ec; */
}
*::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background: #3c454e;
    border: thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #5aafb0, #4ca06d);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 225, 0.5), inset 1px 0 0 rgba(255, 255, 255, 0.4),
        inset 0 1px 2px rgba(255, 255, 255, 0.3);
    border: thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}

*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(77, 161, 112, 0.6);
}





// Bootstrap Modal
.modal {
    &.recoverPass {
        .input-recover-pass {
            border: none;
            &:focus-visible {
                outline: none;
            }
        }
    }
}