.row_shop_car {
    position: relative;
    .arrow-cont {
        position: absolute;
        z-index: 100;
        display: flex;
        right: 0;
        padding: initial;
        width: initial;
        i {
            font-size: 50px;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                color: #728299;
            }
        }
    }
    .details {
        .card {
            margin-bottom: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0;
            .card-subtitle {
                font-weight: 300;
                margin-bottom: 10px;
                color: #8898aa;
            }
            .table-product {
                &.table-striped {
                    tbody {
                        tr {
                            &:nth-of-type(odd) {
                                background-color: #f3f8fa !important;
                            }
                        }
                    }
                }
                td {
                    border-top: 0px solid #dee2e6 !important;
                    color: #728299 !important;
                }
            }
        }
        .fllw {
            display: flex;
            margin: 10px 0;
            .like {
                margin: 0 15px 0 0;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
            .revs {
                display: flex;
                align-items: center;
                margin: 0 15px 0 0;
                h5 {
                    color: #728299;
                    font-size: 15px;
                }
            }
            .rrss {
                padding-left: 15px;
                border-left: 1px solid #728299;
                i {
                    transition: 0.5s;
                    &:first-child {
                        margin-right: 5px;
                    }
                    &:hover {
                        cursor: pointer;
                        color: blue;
                    }
                }
            }
        }
        p {
            &.overv {
                font-size: 14px;
            }
        }
        img {
            border-radius: 4px;
        }
        .cont-just {
            display: flex;
            justify-content: space-between;
        }
        .carrousel-de {
            margin-top: 15px;
            .owl-carousel {
                .owl-item {
                    border-radius: 4px;
                    overflow: hidden;
                }
                .item {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
