.listing-page {
    .menuk {
        // border: 1px solid #cecece;
        // border-radius: 10px;
        margin-bottom: 15px;
        .title {
            color: #fff;
            font-size: 25px;
            font-weight: 500;
            border-radius: 7px;
            background-color: #8d99af;
            margin-bottom: 30px;
            text-align: center;
            padding: 15px;
            cursor: pointer;
            position: relative;
            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .filters {
            display: flex;
            flex-wrap: wrap;
            p {
                font-weight: 700;
            }
            .column {
                // width: calc( 25% - 10px );
                width: 100%;
                padding: 5px;
                ul {
                    padding-left: 10px;
                }
            }
        }
    }
}

@include breakpoint(sm) {
}
@include breakpoint(md) {
}
@include breakpoint(lg) {
}
@include breakpoint(xl) {
}
@include breakpoint(xxl) {
}

@include breakpoint(sm, min) {
    .listing-page {
        .menuk {
            .filters {
                .column {
                    width: calc(50%);
                }
            }
        }
    }
}
@include breakpoint(md, min) {
    .listing-page {
        .menuk {
            .filters {
                .column {
                    width: calc(25%);
                }
            }
        }
    }
}
@include breakpoint(lg, min) {
    .listing-page {
        .menuk {
            .filters {
                .column {
                    width: calc(100%);
                }
            }
        }
    }
}
@include breakpoint(xl, min) {
}
@include breakpoint(xxl, min) {
}
