.row-releated {
    border-top: 1px solid $whiteThree;
    margin: 40px 0 0 0;
    .title {
        margin: 40px;
        text-align: center;

        font-size: 35px;
        // text-transform: capitalize;
        color: #2a2a2a;
        font-weight: 700;
        position: relative;
        z-index: 2;
        line-height: 44px;
    }
    .car-card-cont {
        padding: 0 5px 0 5px;
        .card {
            padding: 10px;
            background-color: #f7f7f7;
            border: none;
            .cont {
                margin: 10px 0 0 0;
                .ttl {
                    font-weight: 600;
                }
            }
        }
        
    }
}
