.menuheaderprofile {
    position: relative;
    .desp-div-auth {
        display: none;
        position: absolute;
        right: 0;
        left: 40px;
        background-color: $whiteTwo;
        padding: 7px;
        cursor: pointer;
        .option {
            transition: 1s;
            padding: 3px;
            &:hover {
                background-color: $whiteFour;
            }
        }
    }
    .main-white-button {
        a {
            display: flex !important;
            align-items: center;
        }
    }
    &.active {
        .desp-div-auth {
            display: block;
        }
        .main-white-button {
            a {
                border-radius: 7px 7px 0px 0px;
            }
        }
    }
}
