<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top-text header-text">
          <h6>Check Out Our Listings</h6>
          <h2>Item listings of Different Categories</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="listing-page">
  <div class="container" id="container-shop">
    <div class="row">
      <div class="col-lg-12">
        <div class="naccs">
          <div class="grid">
            <div class="row">
              <div class="col-lg-2">
                <div class="menuk">
                  <div class="title">Filters</div>
                  <div class="filters" id="filters_shop">
                  </div>
                </div>
              </div>
              <div class="col-lg-7">

                <div class="filters_now">
                  <div class="cont" id="cont_filters_now">

                    <!-- <div class="itm">
                      <i class="fa fa-times"></i>
                      Gasolina
                    </div> -->

                  </div>
                </div>

                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="col-lg-12">
                        <div class="">
                          <div class="item">
                            <div class="row row_shop_car" id="row_shop_car">
                            </div>
                            <div id="pagination" class="pagination">
                              <div class="cont">
                                <div class="an">&#60;</div>
                                <div class="it">...</div>
                                <div class="it">2</div>
                                <div class="it">3</div>
                                <div class="it act">4</div>
                                <div class="it">5</div>
                                <div class="it">6</div>
                                <div class="it">...</div>
                                <div class="po">&#62;</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 map-cont">
                <div id="map" class="mapshopcont"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row row-releated row-releated-brand" id="row-releated">
      <h2 class="title">
        Relacionados por marca
      </h2>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="grid">
            <div class="row">
              <div class="car-card-cont col-lg-3">
                <div class="card">
                  <img src="view/images/cars/leon.jpg" alt="">
                  <div class="cont">
                    <div class="ttl">
                      Audi A7
                    </div>
                    <div class="price">
                      22.900 €
                    </div>
                    <div class="km">
                      Km: 20000
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div id="modalShow" class="modalK"></div>