.cardk {
    position: relative;
    }
    
    .cardk .cont {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    
    .cardk .cont .btn{
        display: flex;
        margin: auto;
        width: 200px;
    }
    
    .cardk .cont .btn img{
        width: 25px;
        height: 25px;
        padding: 2px;
        background-color: #c5c5c5;
        border-radius: 100%;
    }
    
    .cardk .cont .btn.btn-showmodal{
        background-color: #e0e0e0;
        transition: 1s;
        justify-content: center;
    }
    
    .cardk .cont .btn.btn-showmodal:hover{
        background-color: #d3d3d3;
        cursor: pointer;
    }
    
    .cardk .cont .btn .detailsmodal{
        margin-left: 4px;
    }
    
    .cardk a {
    
    }
    
    .cardk a .card {
        background-color: #f7f7f7;
        border-radius: 5px;
        border: none;
    }
    
    .cardk a .card .img {
    
    }
    
    .cardk a .card .img img{
    
    }
    
    .cardk a .card .desc {
        margin-bottom: 60px;
        color: black;
        padding: 10px 25px;
    }
    
    .cardk a .card .desc .mark {
        background-color: initial;
    }
    
    .cardk a .card .desc .mark h4{
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .cardk a .card .desc .model {
        font-size: 18px;
        color: #8d99af;
        margin-bottom: 10px;
    }
    
    .cardk a .card .desc .price {
        font-size: 20px;
        color: #767b85;
    }
    
    .cardk a .card .desc .km img, .cardk a .card .desc .cv img {
        width: 30px;
        margin-right: 4px;
    }
    
    .cardk a .card .desc .km, .cardk a .card .desc .cv {
        display: flex;
        align-items: self-end;
    }