// Rojos
$redOne: #e40b0b;
$redTwo: #c30e0e;
$redThree: #a21112;
$redFour: #821415;
$redFive: #611618;
// Blancos
$whiteOne: #fff;
$whiteTwo: #f8f9fa;
$whiteThree: #e9ecef;
$whiteFour: #dee2e6;
$whiteFive: #ced4da;
// Grises
$greyOne: #adb5bd;
$greyTwo: #6c757d;
$greyThree: #495057;
$greyFour: #343a40;
$greyFive: #212529;
// Negros
$blackOne: #111111;
$blackTwo: #0a0a0a;
$blackThree: #000000;